.regis{
    background-color: white;
    width: 600px;
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-left: 25%;
    padding-bottom: 60px;
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .text-regis-1{
        text-align: center;
        font-weight: bolder;
        font-size: 30px;
        margin-bottom: 0px;
        color: #8b542f;
        font-family: cursive;
    }

    .text-regis-2{
        text-align: center;
        margin-top: 0;
        font-weight: lighter;
        
    }

    .regis-3{
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        margin-right: 40px;

        .input-regis{
            margin-bottom: 15px;
            height: 30px;
            border-radius: 10px;
        }


        .button-regis{
            height: 40px;
            background-color: #ed7801;
            border: #ed7801;
            color: white;
            font-weight: bolder;
            font-size: 20px;
            border-radius: 10px;
            cursor: pointer;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    }


    

}